{% extends 'presentation/presentation_base.html' %}

{% block slide_content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Projets</h5>
    </div>
    <div class="card-body">
        <p>Voici une liste des projets réalisés depuis août 2023 avec les compétences utilisées :</p>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Projet 1: Correction de rapports BSUITE et GAA</strong>
                <br>
                <small>Compétences utilisées: SQL Server, Report Builder</small>
            </li>
            <li class="list-group-item">
                <strong>Projet 2: Implémentation de Dynamic BC</strong>
                <br>
                <small>Compétences utilisées: C#, .NET, REST API, SQL</small>
            </li>
            <li class="list-group-item">
                <strong>Projet 3: Québec Municipal</strong>
                <br>
                <small>
                    Compétences utilisées: Vue, .nuxt, EntityFramework, .NET, MySQL, Azure Pipelines, Docker, Kubernetes, Redis, Swagger, Cors, CronJob, REST API
                </small>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
