{% extends 'presentation/presentation_base.html' %}

{% block slide_content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Propositions</h5>
    </div>
    <div class="card-body">
        <ul>
            <li>Participer activement au développement des pages web, des APIs, et des applications Windows.</li>
            <li>Appliquer les concepts de data mining et les algorithmes de machine learning pour faire des prévisions et investiguer les données.</li>
            <li>Visualiser les données en utilisant des librairies avancées de R et de Python.</li>
        </ul>
    </div>
</div>
{% endblock %}
