{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Bonjour, {{current_user.username}}</h5>
        <!-- Pencil Icon to Toggle Profile Form Visibility -->
        <i class="fas fa-pencil-alt" style="cursor: pointer;" onclick="toggleForm()"></i>
    </div>
    <p class="card-text">
        <div class="container">
            <div class="row">
                <div class="col-8 p-4">
                    <div class="mb-3">
                        <strong>Nom: </strong>{{current_user.name}}
                    </div>
                    <div class="mb-3">
                        <strong>Nom d'utilisateur: </strong>{{current_user.username}}
                    </div>
                    <div class="mb-3">
                        <strong>Email: </strong> {{current_user.email}}
                    </div>
         
                    <div class="mb-3">
                        <strong>Description: </strong>{{current_user.about_author}}
                    </div>
                    <div class="mb-3">
                        <strong>Date de création: </strong>{{current_user.createdAt}}
                    </div><hr/>
                    <a href="{{url_for('core_bp.logout')}}" class="btn btn-secondary btn-sm">Déconnecter</a>
                    <a href="{{url_for('user_bp.update',id=current_user.id)}}" class="btn btn-secondary btn-sm">Modifier le profil</a>
                    <a href="{{url_for('user_bp.delete',id=current_user.id)}}" class="btn btn-danger btn-sm">Supprimer le profil</a>
                </div>
                
                <div class="col-4  d-flex justify-content-center align-items-center">
                    {% if current_user.profile_pic %}
                    <img src="{{url_for('static',filename='images/'+current_user.profile_pic)}}" width="250" align="right"  style="border-radius: 50%;object-fit: cover; width: 250px; height: 250px;"/>
                    {% else %}
                    <img src="{{url_for('static',filename='images/0.png')}}" width="250" align="right"  style="border-radius: 50%;object-fit: cover; width: 250px; height: 250px;"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </p>
</div>

<!-- Form Section (Initially Hidden) -->
<div class="card mt-3" id="profile-form" style="display: none; background-color: #fff;">
    <div class="card-header">
        <h5>Modifier le profil</h5>
    </div>
    <div class="card-body">
        <form action="/dashboard" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control",value=name_to_update.name)}}
            <br/>
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control",value=name_to_update.username)}}
            <br/>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control",value=name_to_update.email)}}

            <br/>
            {{form.about_author.label(class="form-label")}}
            <textarea name="about_author" class="form-control">{{name_to_update.about_author}}</textarea>
            <br/>
            {{form.profile_pic.label(class="form-label")}}
            {{form.profile_pic(class="form-control",value=name_to_update.favorite_color)}}
            <br/>
      {{form.admin.label(
        class="form-label"
    )}}
    <input type="checkbox" id="admin" name="admin" value="on" {% if name_to_update.admin %} checked {% endif %}>
            <br/>
            {{form.submit(class="btn btn-primary btn-sm")}}

            <a href="{{url_for('user_bp.delete',id=name_to_update.id)}}" class="btn btn-danger btn-sm">Supprimer</a>
        </form>
    </div>
</div>

<!-- Inline JavaScript to Toggle Form Visibility -->
<script>
    function toggleForm() {
        var form = document.getElementById('profile-form');
        form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
        const overlay = document.querySelector(".background-overlay");
          const bodyHeight = document.body.scrollHeight; // Total height of the document
          overlay.style.height = `${bodyHeight}px`;
    }
</script>

{% endblock %}
