<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://fqm.ca" target="_blank">
    <img src="{{url_for('static',filename='images/FQM0.jpg')}}" alt="Brand Logo" style="width: 40px; height: 40px; border-radius: 50%;">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.endpoint == 'core_bp.index' %}active{% endif %}">
          <a class="nav-link" href="{{url_for('core_bp.index')}}">Accueil <span class="sr-only">(current)</span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item {% if request.endpoint == 'core_bp.dashboard' %}active{% endif %}">
          <a class="nav-link" href="{{url_for('core_bp.dashboard')}}">Profil</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('core_bp.logout')}}"> Déconnecter</a>
      </li>
      <li class="nav-item {% if request.endpoint == 'post_bp.add_post' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('post_bp.add_post')}}">Publier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('admin_bp.admin')}}"> Admin</a>
  </li>
      {% else %}
      <li class="nav-item {% if request.endpoint == 'user_bp.add_user' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('user_bp.add_user')}}"> Inscrire</a>
    </li>
      <li class="nav-item {% if request.endpoint == 'core_bp.login' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('core_bp.login')}}"> Connecter</a>
    </li>
      {% endif %}
        
      <li class="nav-item {% if request.endpoint == 'post_bp.posts' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('post_bp.posts')}}"> Articles</a>
    </li>
    {% if current_user.id==1 %}
    
    {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Présentation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('presentation_bp.presentation',slide_number=1)}}">Énoncé</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('presentation_bp.presentation',slide_number=2)}}">Évolution</a>
            <a class="dropdown-item" href="{{url_for('presentation_bp.presentation',slide_number=3)}}">Projets</a>
            <a class="dropdown-item" href="{{url_for('presentation_bp.presentation',slide_number=4)}}">Habiletés</a>
            <a class="dropdown-item" href="{{url_for('presentation_bp.presentation',slide_number=5)}}">Futur</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('post_bp.search')}}" class="d-flex" >
        {{form.hidden_tag()}}
        <input class="form-control mr-sm-2" type="search" placeholder="Écrire un mot clé" aria-label="Search" name="searched">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
      </form>
    </div>
  </nav>